<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Notification\MessageList">
        <arguments>
            <argument name="messages" xsi:type="array">
                <item name="version_notification" xsi:type="string">Magecomp\Base\Model\Admin\Notification\Versions</item>
                <item name="offer" xsi:type="string">Magecomp\Base\Model\Admin\Notification\Offer</item>
            </argument>
        </arguments>
    </type>
</config>