<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/system_file.xsd">
    <system>
        <section id="base_store" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Marketplace</label>
            <tab>magecomp</tab>
            <resource>Magecomp_Base::marketplace</resource>
            <group id="extensions_view" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Marketplace</label>
                <frontend_type>text</frontend_type>
                <frontend_model>Magecomp\Base\Block\Store</frontend_model>
            </group>
        </section>
        <section id="adminnotify" translate="label" type="text" sortOrder="201" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Base</label>
            <tab>magecomp</tab>
            <resource>Magecomp_Base::base</resource>
            <group id="extensions" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="10">
                <label>Magecomp Extensions</label>
                <field id="extension_contents" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Magecomp\Base\Block\Extensions</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
            <group id="offer" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Configuration</label>
                <field id="enable" translate="label" sortOrder="10" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Offer Notification</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
            </group>
        </section>
    </system>
</config>