#magecomp_store
{
    border: none;
    height: 1400px;
    width: 100%;
}
.magecomp-extenion-content
{
    width: 52%;
    margin: 0 auto;
}
.magecomp-extenion-content table
{
    border-collapse: collapse;
    width: 100%;
    font-weight: bold;
}
.magecomp-extenion-content td,th {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 8px !important;
}
#row_adminnotify_extensions_extension_contents td.label{display:none;}
#row_adminnotify_extensions_extension_contents td.value+td{display:none;}
#row_adminnotify_extensions_extension_contents td.value{width:100% !important;}